<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Treebook</a>
				<ul class="nav">
					<li><%= link_to "All Statuses", statuses_path %></li>
				</ul>
				<ul class = "nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
						<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
						<% else %>
						<li><%= link_to "Register", new_user_registration_path %></li>
						<li><%= link_to "Log in", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>


<div class="container">
	<div class="row">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="active"><a href="#">Test1</a></li>
				<li class="divider"></li>
				<li><a href="#">Test2</a></li>
				<li class="divider"></li>
				<li><a href="#">Test3</a></li>
				<li class="divider"></li>
				<li><a href="#">Test3</a></li>
			</ul>
		</div>
		<div class="span9">
			<% flash.each do |type, message| %> 
				<div class="alert <%= flash_class type %>">
						<button class="close" data-dismiss="alert">x</button> 
						<%= message %> 
				</div>
			<% end %> 

			<%= yield %>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<p>Designed and built with all the love in the world by @mdo and @fat.<p>
		<p>Code licensed under Apache License v2.0, documentation under CC BY 3.0.</p>
		<p>Glyphicons Free licensed under CC BY 3.0.</p>
	</div>
</footer>

</body>
</html>
